<h1><b>Team Name: No Backing Out</b></h1>
<h3>Topic: Car Parks Around Unimelb</h3>
<br><br><br>


{{!-- User Management Section --}}
<section class="homeSection">
    <h3>User Account Management</h3>
    <button><a href="/users/signUpForm">Sign Up</a></button>

    <button><a href="/users/getUsers">Display Registered Users</a></button>
</section>


{{!-- Car Park Management Section --}}
<section class="homeSection">
    <h3>Car Park Management</h3>
    <button><a href="/parks/updateParkForm">Add Car Park</a></button>
    <button><a href="/parks/getParks">Display Car Parks</a></button>
</section>


<section class="homeSection">
    <h3>Record Parking Location</h3>
    <button><a href="/parks/locationForm">Record</a></button>
</section>

<section class="homeSection">
    <h3>Upload Car Park Status</h3>
    <button><a href="/parks/statusForm">Update Status</a></button>
</section>