{{!-- The basic skeleton was adapted from "Lecture8 Mongoose MongoDB.zip" --}}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/stylesheets/backendStyles.css">
</head>

<body>
  {{{ body }}}
</body>

</html>