<h1><b>Team Name: No Backing Out</b></h1>
<h3>Topic: Car Parks Around Unimelb</h3>
<br><br><br>


<section class="formSection">
    <h3>Note Down Your Parking Location</h3>
    <form action="/parks/recordLocation" method="post">
        <div class="input">
            <label for="parkName">Car Park Name</label>
            <input type="text" id="parkName" name="parkName">
        </div> <br>

        <div class="input">
            <label for="parkLevel">Parking Level</label>
            <input type="text" id="parkLevel" name="parkLevel">
        </div> <br>

        <div class="input">
            <label for="parkNumber">Parking Number</label>
            <input type="text" id="parkNumber" name="parkNumber">
        </div> <br>

        <div class="input">
            <label for="parkingNote">Note</label>
            <input type="text" id="parkingNote" name="parkingNote">
        </div> <br>

        <button type="submit">Submit</button>
    </form>
</section>